.h1 {
    background-color: aqua;
}

.h2 {
    background-color: bisque;
}

.h3 {
    background-color: chartreuse;
}

.h4 {
    background-color: coral;
}

.h5 {
    background-color: green;
}

.h6 {
    background-color: firebrick;
}